<?xml version="1.0" ?>
<adamr-master-config>
  
  <local_server>
    <bind_ip></bind_ip>
    <bind_port></bind_port>
  </local_server>
  
  
  <crypto>
    <hmac></hmac>
  </crypto>
  
  
  <settings>
    <max_connection_tries></max_connection_tries>
    <timeout_connection_tries></timeout_connection_tries>
    <log_level></log_level>
  </settings>
  
  
  <user></user>
  
</adamr-master-config>