<?xml version="1.0" ?>
<adamr-reducer-config>
  <!-- mapper details -->
  <identifier>Reducer_01</identifier>
  
  <local_server>
    <bind_ip>127.0.0.1</bind_ip>
    <bind_port>9000</bind_port>
  </local_server>
  
  <master>
    <ip>127.0.0.1</ip>
    <port>7000</port>
  </master>
  
</adamr-reducer-config>